{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CyberWaste {% block title %}Crazy dutch programmer{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.5/styles/monokai.min.css">
</head>
<body>

<header>
    <h1>CyberWaste</h1>
</header>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
    {% for category in categories %}
        <li><a href="/section/{{ category.slug }}.html">{{ category.title }}</a></li>
    {% endfor %}
    </ul>
</nav>

<section>
{% block content %}
{% endblock %}
</section>

<footer>
    Copyright &copy; 1984 - {% now "Y" %} Everybody except Governments and Cooperation's.
</footer>

<script src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>
</body>
</html>